{% extends "base.html" %}

{% block pagetitle %}
	{{user.first_name}}'s Workbench
{% endblock %}

{% block main %}
    <h2 class="sectionheader">{{name}} Watchlist ({{myWatchlist|length}})</h2>
	<ul>
        {% for source in myWatchlist %}
            <li class="source"><p><a href="{% url source_detail pk=source.id %}" class="biglink">{{ source.title|safe }}</a></p></li>
		{% endfor %}
    </ul>
    
    <h2 class="sectionheader">{{name}} Sources ({{mySources|length}})</h2>
	<ul>{% for source in mySources %}
			<li class="source"><p><a href="{% url source_detail pk=source.id %}" class="biglink">{{ source.title|safe }}</a></p></li>
		{% endfor %}
	</ul>
		
    <h2 class="sectionheader">{{name}} Citations ({{myCitations|length}})</h2>
	<ul>{% for source in myCitations %}
        	<li class="source"><p><a href="{% url source_detail pk=source.id %}" class="biglink">{{ source.title|safe }}</a></p></li>
		{% endfor %}</ul>

    <h2 class="sectionheader">{{name}} RSS Feeds ({{myRSSFeeds|length}})</h2>
	<ul>{% for feed in myRSSFeeds %}
            <li class="source"><p><a href="{% url rss_detail rssid=feed.id %}" class="biglink">{{ feed.name }}</a></p></li>
		{% endfor %}</ul>
	
	{% include "wikilink/new_source_from_url.html" %}


{% endblock main %}